* {
padding: 0;
margin: 0;
text-decoration:none;
list-style-type:none;
}
body {
background: #000;
font-size:arial;
}
.mask{
position: absolute;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.41);
z-index: 999;
color: #fff;
font-size: 1em;
}
.listaNiveles{
position: relative;
display: block;
margin: 0 auto;
width: 250px;
}
.listaJuegos{
position: relative;
display: block;
margin: 0 auto;
width: 255px;
height: 210px;
}
#nivel1 .listaJuegos li {
width: 80px;
float: left;
position: relative;
}
#nivel2 .listaJuegos li , #nivel3 .listaJuegos li,#nivel4 .listaJuegos li {
width: 60px;
float: left;
position: relative;
}
#nivel5 .listaJuegos li{
width: 50px;
float: left;
position: relative;
}
.listaJuegos img{
z-index: 1;

}

#nivel1 .listaJuegos div {
width: 80px;
z-index: 999;
position: absolute;
left: 0px;
top: 0px;
}
#nivel2 .listaJuegos div, #nivel3 .listaJuegos div, #nivel4 .listaJuegos div{
width: 60px;
z-index: 999;
position: absolute;
left: 0px;
top: 0px;
}
#nivel5 .listaJuegos div {
width: 50px;
z-index: 999;
position: absolute;
left: 0px;
top: 0px;
}


/*.listaJuegos div {
background: #000;
width: 55px;
height: 55px;
z-index: 999;
position: absolute;
left: 9px;
top: 7px;
}
*/
.mask span{
width: 100%;
display: block;
text-align: center;
}
#objninno{
display:none;
}
#tabinfo {
display: block;
margin-bottom: 0px;
height: 35px;
}
#tabinfo li{
float:left;
width:50%;
}
p{
color: rgb(247, 11, 11);
font-weight: bold;
font-size: 133.4%;
position: relative;
}
input[type="text"], select{
border: 8px solid rgb(32, 102, 228);
border-radius: 7px;
}
.ui-select .ui-btn select {
cursor: pointer!important;
-webkit-appearance: none!important;
left: 0!important;
top:0px!important;
width: 100%!important;
min-height: 1.5em!important;
min-height: 100%!important;
height: 3em!important;
max-height: 100%!important;
filter: Alpha(Opacity=0)!important;
opacity: 0!important;
z-index: 3!important;
position: absolute!important;
}
#pagInicio, 
#TemasSemanales,#TemasEmbarazo,
#Descuentos,#juegos,
#eventoEmba2,#eventoEmba3,
#listaDeNombreBB1,#listaDeNombreBB2,
#infosolicitada,#caminar,#natacion,#yoga,#pilates,#kegel,#bicicleta,#pelota,#aerobicos,#bailar,#nivel1,#nivel2,#nivel3,#nivel4,#nivel5{
width: 100%;
height: 100%;
/*position: relative;*/
position: fixed;
background: url(../img/backgr.jpg) no-repeat;
min-height: 288px;
background-size: 100% 100%;
}
label.ui-select{
 color: #0080B9!important;
 }
#pagInfoSemanal,#eventoEmba1{
 background: url(../img/backgr.jpg) no-repeat;
 background-size: 100% 100%;
 }
.footer img,.header img{
width: 100%;
}
.menuPrincipal li,.menuPrincipal img{
width: 94%;
}

.footer{
width: 100%!important;
height: 52PX!important;
margin-bottom: 0px!important;
position: absolute!important;
top: 87%!important;
bottom: 0px!important;
}
img{
width:100%;
}
.footer a{
background: rgba(255, 255, 255, 0);
border: none;
box-shadow: 0 0 0 0!important;
width: 30%;
}
.footer span{
box-shadow: 0 0 0 0;
border: none;
padding: 0;
margin: 0;
}
.footer img{
margin-left: 0px;
width: 100%;

}
.ui-bar-a{
border:none!important;
background:none!important;
}
#contenidoPrincipal,#contenidoGeneralnfo{
margin: 0px;
padding: 0px;
}
#objFormulario{
width: 100%;
height:auto;
}
#divtopforminfosemanal{
width: 100%;
height: 94px;
display:block;
position:relative;
margin-bottom:6px;
}
#divtopforminfosemanal p {
color: rgb(247, 11, 11);
font-weight: bolder;
font-size: 1.059em!important;
position: relative;
text-shadow: 0px 0px 3px #FFFFFF;
}
#divtopforminfosemanal .ui-btn ,
#divtopforminfosemanal.ui-shadow ,
#divtopforminfosemanal .ui-btn-corner-all ,
#divtopforminfosemanal .ui-btn-icon-right ,
#divtopforminfosemanal .ui-btn-up-c{
width: 98%;
height: 28px;
margin: 0;
border-radius: 4px;
}
#divCiclo{
width: 100%;
background: rgba(255, 255, 255, 0.54);
height: 80px;
position: relative;
}
#divtopforminfosemanal #divCiclo  p {
color: #90A83D;
text-shadow: 0px 0px 3px rgba(255, 255, 255, 0);
width: 50%;
float: left;
margin-left: 40px;
margin-top: 15px;
}
#selectsemanas {
width: 25%;
float: left;
height: 29px;
margin-top: 15px;
margin-left: 15px;
border: 7px solid #0E46D6;
border-radius: 12px;
background: rgba(245, 242, 242, 0.6);
}
#objninno{
width: 100%;
height: 143px;
}
#objninno #nacido{
width: 100%;
background: rgba(255, 255, 255, 0.54);
height: 124px;
position: relative;
}
#objninno #nacido p{
color:#0080B9!important;
}
#divnombreNinno{
width: 100%;
height: 38%;
}
#divinputnom{
width: 66%;
height: 56px;
float: left;
position: relative;
text-align: center;
}
#objninno p:first-child {
color: rgb(247, 11, 11);
font-weight: bolder;
font-size: 15px!important;
position: relative;
text-shadow: 0px 0px 3px #FFFFFF;
}
#divinputnom div
{
border: 5px solid #F01414;
height: 25px;
padding: 0;
margin: 0px;
}
#divselectsexo{
width: 29%;
height: 59px;
float: left;
position: relative;
text-align: center;
}
#selecDivGen{
width: 80%;
height: 27px;
margin-left: 10px;
border: 5px solid #F01414;
border-radius: 12px;
padding: 0px;
}
#selecDivGen .ui-btn ,
#selecDivGen.ui-shadow ,
#selecDivGen .ui-btn-corner-all ,
#selecDivGen .ui-btn-icon-right ,
#selecDivGen .ui-btn-up-c{
width: 99%;
height: 26px;
margin: 0;
border-radius: 7px;
}
#divdianinno,#divmesesninno,#divannonino{
width: 33%;
height: 52px;
float: left;
text-align: center;
}
#fechasDeNacimientoNinno{
width: 100%;
height: 54px;
position: relative;
text-align: center;
}
#fechasDeNacimientoNinno .ui-btn ,
#fechasDeNacimientoNinno.ui-shadow ,
#fechasDeNacimientoNinno .ui-btn-corner-all ,
#fechasDeNacimientoNinno .ui-btn-icon-right ,
#fechasDeNacimientoNinno .ui-btn-up-c{
width: 99%;
height: 23px;
margin: 0;
border-radius: 7px;
}
.combobox{
width: 80%;
height: 24px;
margin-left: 1px;
border: 5px solid #90A83D;
border-radius: 12px;
padding: 0px;
}
.botones{
width: 80%;
height: 27px;
margin-top: 8px;
text-align: center;
margin: 0 auto;
display: block;
}
#enviar{
/*background:url(../img/btnEnviar.png);*/
width:100px;
height:55;
float:left;
}
#facebook{
/*background:url(../img/btnfacebook.png);*/
width:100px;
height:55;
float:left;
}
#infoSolicitadasemanal{
width: 209px;
height: 191px;
border: 10px solid #002CDB;
border-radius: 15px;
background: rgba(255, 255, 255, 0.63);
margin-left: 33px;
}
#infoSolicitadasemanal{
width: 86%;
height: auto;
border: 10px solid #002CDB;
border-radius: 15px;
background: rgba(255, 255, 255, 0.63);
margin: 0 auto;
display: block;
}
#infoSolicitadasemanal ul{
border: none;
box-shadow: 0 0 0 0;
}
#TemasSemanales .contVolver{
float: left;
margin-top: 12px;
width: 10%;
}
.contVolver{

width: 19%;
}
.contVolver img{
width: 100%;
}
.volverformulario{
float: left;
margin-left: 43px;
margin-right: 37px;
margin-top: 10px;
width: 31%;
}
.volverformulario img{
width: 100%;
}
#titutiempo{
width: 100%;
border-bottom: 1px solid;
text-align: center;
}
p {
color: rgb(247, 11, 11);
font-weight: bold;
font-size: 83.4%;
position: relative;
}
#tituloTemaSemana{
background: #F1532B;
width: 100%;
height: 50px;
text-align: center;
padding-top: 20px;
color: #FFF;
border-radius: 12px;
text-shadow: 0 0 0;

}
#tituloTemaSemana h2{
font-size: 17px!important;
}
#contenidoTemaSemana{
border: 10px solid #FC7B33;
border-radius: 12px;
margin-top: 12px;
height: 158px;
background: rgba(255, 255, 255, 0.79);
position: relative;
color: rgba(12, 11, 11, 0.9)!important;
}
#contenidoTemaSemana p, #contenidoTemaSemana li{

color: rgba(12, 11, 11, 0.9)!important;
}
#contenidoTemaSemana ul{
margin-top: 0;
border:none;
box-shadow: 0 0 0 0;
}
#botonesTEmas{
width: 569px;
height: 46px;
}
#comentar,#incluir{
width: 105px;
float: left;
margin-top: 7px;
}
#comentar img,#incluir img{
width: 100%;
}
#listaAcTemasEmba{
width: 94%;
min-height: 186px;
border: 9px solid rgba(238, 74, 218, 0.95);
border-radius: 12px;
padding-left: 6px;
padding-right: 6px;
background: rgba(255, 255, 255, 0.57);
}
#listaAcTemasEmba img{
width: 100%;
}
#contenidoDiaNacimiento{
border: 9px solid #EB5656;
background: rgba(255, 255, 255, 0.33);
border-radius: 12px;
overflow: hidden;
max-height: 175px;
padding-top: 2px;
}
#objcalculo{
width: 100%;
height: 151px;
}

#objcalculo #divdianinno,#objcalculo #divmesesninno,#objcalculo #divannonino{
width: 33%;
height: 50px;
float: left;
text-align: center;
}
.ui-btn-inner {
font-size: 9px!important;
padding: 0.1em 20px!important;
min-width: .75em!important;
display: block!important;
position: relative!important;
text-overflow: ellipsis!important;
overflow: hidden!important;
white-space: nowrap!important;
zoom: 1!important;
}
.ui-btn-inner {
font-size: 16px!important;
padding: 0.1em 6px!important;
min-width: 0.25em!important;
}
#objcalculo .ui-btn ,
#objcalculo.ui-shadow ,
#objcalculo .ui-btn-corner-all ,
#objcalculo .ui-btn-icon-right ,
#objcalculo .ui-btn-up-c{
width: 99%;
height: 23px;
margin: 0;
border-radius: 7px;
}
#imagenNacido{
width: 86%;
height: auto;
float: left;
margin-left: 0%;
font-size: 1em;
position: relative;
}
#imagenNacido img{
width: 29%;
float: left;
height: 100%;
margin-right: 0;
}
#resultadoPar{
margin: 0 auto;
margin-top: 32px;
display: block;
}
#divBtncalcular{
margin-left: 0px;
width: 90%;
display: block;
margin: 0 auto;
}
#eventoEmba2 .ui-content{
border-width: 0;
overflow: visible;
overflow-x: hidden;
padding: 7px;
}
#calcular{
width: 36%;
display: block;
margin: 0 auto;
}
#divEjer{
overflow: hidden;
width: 93%;
border: 12px solid rgba(30, 115, 223, 0.84);
border-radius: 12px;
background: rgba(255, 255, 255, 0.47);
height: 188px;
position: relative;
}
.ejer{
border: 10px solid rgb(118, 216, 52);
float: left;
border-radius: 11px;
background: rgba(255, 255, 255, 0.71);
width: 94%;
height: 150px;
position: relative;
}
.ejer p{
color:#000!important;
}

.#scrollerejerci{
width: 100%;

}
#scrollerejerci li{
height: 65px;
width: 219px;
margin-bottom: 3px;
}
#scrollerejerci ul{
margin-left: 9%;
}
#scrollerejerci ul li img{
height: 64px;
width: 218px;
}

#ninno, #ninna{
width: 43%;
float: left;
height: auto;
background: rgba(255, 255, 255, 0.37);
border: 4px solid rgb(174, 49, 233);
border-radius: 14px;
margin-left: 3%;
margin-top: 12%;

}
#ninno img, #ninna img{
width: 44%;
float: left;
margin-left: 31%;
} 
#ninna img{
margin-bottom: 11%;
margin-top: 6%;
margin-right: 25%;
}
#ninno img{
margin-bottom: 11%;
margin-top: 3%;
margin-right: 25%;
}
#ninno{
border: 4px solid rgb(0, 133, 255);
}
/***agregado respaldo***/
.listaDeNombreBB {
width: 87%;
overflow: hidden;
overflow-y: scroll;
height: 394px;
margin-left: 6%;
border: solid rgb(175, 46, 192);
border-radius: 17px;
background: rgba(183, 68, 199, 0.72);
font-family: Arial;
font-weight: bold;
color: #fff;
overflow:hidden;
-webkit-overflow-scrolling: touch;
}
#ninoNombres{
width: 87%;
overflow: hidden;
overflow-y: scroll;
height: 394px;
margin-left: 6%;
border: solid rgb(46, 87, 192);
border-radius: 17px;
background: rgba(68, 94, 199, 0.72);
font-family: Arial;
font-weight: bold;
color: #fff;
overflow:hidden;
-webkit-overflow-scrolling: touch;

}
.listaDeNombreBB ul {
width: 100%!important;
height: auto!important;
overflow: hidden;
border-radius: 17px;
font-family: Arial;
font-weight: bold;
color: #fff;
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
}
.listaDeNombreBB .ninoNombres{
overflow: hidden;
width: 100%!important;
height: auto!important;
border-radius: 17px;
font-family: Arial;
font-weight: bold;
color: #fff;
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
}
.listaDeNombreBB li{
width: 30%;
float: left;
margin-left: 16%;
}
#conteDescuentos{
width: 95%;
overflow: hidden;
height: 203px;
border: 9px solid rgb(46, 52, 192);
border-radius: 17px;
background: rgba(255, 255, 255, 0.75);
font-family: Arial;
font-weight: bold;
color: #fff;
position: relative;
display: block;
margin: 0 auto;
}
.listaDescuentos{
width: 100%!important;
height:auto!important;
overflow: hidden;
margin-left: 0.1px!important;
border-radius: 17px;
font-family: Arial;
font-weight: bold;
color: #fff;
}

#contenidoNombreNinno{
width: 74%;
height: 180px;
border-radius: 8px;
margin-left: 7%;
margin-top: 0%;
background: rgba(32, 125, 243, 0.58);
position: relative;
overflow: hidden;
color: rgb(255, 255, 255);
border: 10px solid rgba(32, 125, 243, 0.58);
}
#contenidoNombresNina{
width: 74%;
height: 180px;
border-radius: 8px;
margin-left: 7%;
margin-top: 0%;
background: rgba(247, 139, 229, 0.97);
position: relative;
overflow: hidden;
color: rgb(255, 255, 255);
border:10px solid rgba(167, 100, 213, 0.92);
}
#contenidoNombreNinno ul, #contenidoNombresNina ul{
width: 97%!important;
height: auto!important;
float: left;
margin-top: 11px;
margin-left: 1%;
}
#contenidoNombreNinno li, #contenidoNombresNina li{
width: 99%!important;
height: auto!important;
float: left;
font-size: 28px;
}
.listaDescuentos p{
color: rgb(88, 69, 69);
font-weight: bold;
font-size: 78.4%;

}
.remov{
float: right;
font-size: 12px;
margin-top: 4%;
color: rgb(255, 255, 255);
background: rgba(0, 0, 0, 0.62);
padding-left: 7px;
padding-right: 12px;
padding-bottom: 3px;
padding-top: 0px;
}
.sombraNombreG{
background: rgba(19, 98, 177, 0.33);
}
#listaDescuentos{
border: 8px solid rgb(255, 0, 0);
border-radius: 7px;
width: 93%;
margin-left: 3.1%;
height: 100%;
background: rgba(255, 249, 249, 0.78);
overflow: hidden;
overflow-y: scroll;
font-family: arial;
float: left;
margin-top: 11%;
}
#Descuentos .cambioColor{
width: 97%;
height: 140px;
border-radius: 8px;
margin-left: 2%;
margin-top: 5%;
background: rgba(32, 125, 243, 0.58);
position: relative;
float: left;
}
#Descuentos .colorNormal{
width: 97%;
height: 140px;
border-radius: 8px;
margin-left: 2%;
margin-top: 5%;
background: rgba(247, 139, 229, 0.97);
position: relative;
float: left;
}
.listaDescuentos .imgPromo{
width: 5.4em;
margin-left: 4%;
margin-top: 5%;
float: left;
height: 7em;
}
.listaDescuentos .textoDesc{
float: left;
width: 58%;
position: relative;
}
.listaDescuentos img{
width: 100%;
height: 100%;
}
.listaDescuentos h3 ,.listaDescuentos p{
width: 90%;
max-height: 44px;
font-size: 0.69em;
margin-left: 5%;
}
#ninno span,#ninna span{
display: block;
margin: 0 auto;
width: 76%;
font-size: 0.65em;
}
#eventoEmba1 #divBtncalcular .contVolver {
width: 21%!important;
display: block!important;
margin: 7px auto!important;
float: none;
}
.volverJuego{
width: 210px;
display: block;
margin: 0 auto;
}